<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign is_collapsible = include.limit and page.announcements.scrollable and news_size > 3 %}


    <div
      class="table-responsive"
    >
      <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% if is_collapsible %}
          {% assign news_limit = 3 %}
        {% elsif include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%B %Y' }}</th>
            <td>
              {% if item.emoji %}
                <p style="font-size:1.5rem">{{ item.emoji }}</p>
              {% endif %}
            </td>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    {% if is_collapsible %}
      <a class="more-section-link" href="{{ '/news/' | relative_url }}">More News</a>
    {% endif %}
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
